strong{
	color: red;
}

a{
	color: magenta;
}

p{
	color: blue;
}

h1,h2 {
	color: darkblue;
}

img {
    max-width:100%;
    height:auto;
}

body {
  background-color: lightgreen;
}